/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

a.active {
  background-color: rgb(216, 101, 8);
  padding: 10px 0;
}

a {
  text-decoration: none;
}

/* .nav-links:hover {
  font-size: xx-large;
} */

body {
  width: 100%;
  overflow-x: hidden;
}

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-10.MuiGrid-align-items-xs-flex-start.MuiGrid-justify-xs-center {
  width: 95%;
  margin: auto;
}

.MuiTypography-h3.MuiTypography-root {
  margin-bottom: 25px;
  letter-spacing: -1px;
}

table thead th.MuiTableCell-root.MuiTableCell-head.MuiTableCell-alignLeft {
  font-weight: 800;
  line-height: 17px;
}

.MTableToolbar-title-10 h6 {
  color: darkgrey;
  font-weight: 500;
  font-size: 18px;
  font-style: italic;
}

.MTableToolbar-title-10 h6:hover {
  color: #ff9800;
}

.single-player-table .MuiToolbar-root {
  display: none;
}

.MuiGrid-spacing-xs-3 > .MuiGrid-item.single-player-image {
  padding-bottom: 0;
  margin-bottom: -3px;
}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12 h5 {
  color: darkgray;
  font-size: 20px;
}

button.MuiButtonBase-root.MuiIconButton-root {
  float: right;
  padding: 0;
}
button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-colorPrimary:hover {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  background-color: rgb(178, 106, 0);
}

button.MuiButton-containedPrimary {
  color: white;
  font-weight: 600;
}

a {
  color: #ff9800;
  font-weight: 600;
}

a:hover {
  color: rgb(216, 101, 8);
}

header a {
  color: white;
}

header a.active:hover {
  color: whitesmoke;
  background-color: rgb(216, 101, 8);
}

/* a.active:hover {
  background-color: none;
} */

/* h6.MuiTypography-root.MuiTypography-h6:hover {
  
} */

.MTableToolbar-title-11 h6:hover {
  color: #ff9800;
}

.MTableToolbar-title-11 h6 {
  font-style: italic;
  color: darkgray;
}

.MTableToolbar-spacer-8 {
  flex: 0.93 0 5%;
}

/* .MuiListItem-button:hover {
  text-decoration: none;
  background-color: #ff9800;
} */

/* .MuiGrid-root.MuiGrid-container.MuiGrid-item.MuiGrid-justify-xs-flex-end.MuiGrid-grid-xs-8 {
  display: contents;
} */

li.MuiListItem-button:hover {
  text-decoration: none;
  background-color: #ff9800;
}

a.active li:hover {
  background-color: rgb(216, 101, 8);
}
