/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

a.active {
  background-color: rgb(216, 101, 8);
}

a {
  text-decoration: none;
}

/* .nav-links:hover {
  font-size: xx-large;
} */

/* body {
  overflow: visible;
} */

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-10.MuiGrid-align-items-xs-flex-start.MuiGrid-justify-xs-center {
  width: 95%;
  margin: auto;
}

.MuiTypography-h3.MuiTypography-root {
  margin-bottom: 25px;
  letter-spacing: -1px;
}

table thead th.MuiTableCell-root.MuiTableCell-head.MTableHeader-header-14.MuiTableCell-alignLeft {
  font-weight: 800;
  line-height: 17px;
}

.MTableToolbar-title-10 h6 {
  color: darkgrey;
  font-weight: 800;
  font-style: italic;
}

.single-player-table .MuiToolbar-root.MuiToolbar-regular.MTableToolbar-root-6.MuiToolbar-gutters {
  display: none;
}

.MuiGrid-spacing-xs-3 > .MuiGrid-item.single-player-image {
  padding-bottom: 0;
}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12 h5 {
  color: darkgray;
  font-size: 20px;
}